<h1><%= @artists.name %></h1>
<h3>Songs:</h3>
<ol>
    <% @artists.songs.each do |song|%>
    <li><a href="<%="/songs/#{song.name}"%>"><%=song.name%></a> - Genre: <a href="<%="/genres/#{song.genre.name}"%>"><%=song.genre.name%></a></li>
    <%end%>
</ol>

<p>Browse by:</p>
<li><a href="<%="/artists"%>">Artists</a></li>
<li><a href="<%="/songs"%>">Songs</a></li>
<li><a href="<%="/genres"%>">Genres</a></li>